openapi: 3.2.0
info:
  title: WorkWave Route Manager GPS API
  description: The WorkWave Route Manager (WWRM) REST API connects order-management systems to RouteManager's route planning and optimization engine.
  termsOfService: https://www.workwave.com/terms-of-service/
  contact:
    name: WorkWave Support
    url: https://www.workwave.com/contact-us/
  version: '1.0'
servers:
- url: https://wwrm.workwave.com/api/v1
  description: WorkWave Route Manager production API
security:
- ApiKeyHeader: []
- ApiKeyQuery: []
tags:
- name: GPS
  description: Retrieve GPS tracking and location data.
paths:
  /territories/{territoryId}/gps:
    parameters:
    - $ref: '#/components/parameters/territoryId'
    get:
      operationId: getGpsData
      tags:
      - GPS
      summary: Retrieve GPS tracking and real-time location data for a territory
      responses:
        '200':
          description: GPS tracking data.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GpsPosition'
components:
  schemas:
    GpsPosition:
      type: object
      properties:
        driverId:
          type: string
        vehicleId:
          type: string
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        speed:
          type: number
          format: double
        timestamp:
          type: string
          format: date-time
  parameters:
    territoryId:
      name: territoryId
      in: path
      required: true
      description: The territory identifier used by most calls.
      schema:
        type: string
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: X-WorkWave-Key
      description: API key (UUID) supplied via the X-WorkWave-Key HTTP header.
    ApiKeyQuery:
      type: apiKey
      in: query
      name: key
      description: API key (UUID) supplied via the `key` query-string parameter. Takes precedence over the header if both are present.
