openapi: 3.0.1
info:
  title: WorkWave Route Manager Callback Territories API
  description: 'The WorkWave Route Manager (WWRM) REST API connects order-management systems to RouteManager''s route planning and optimization engine. It exposes resources for territories, depots, regions, companies, drivers, vehicles, orders, optimized routes (Time of Arrival), and GPS tracking. Requests that add, update, or delete data are asynchronous: they return a requestId immediately and the final outcome is delivered to a configured webhook callback URL. Authentication uses an API key (a UUID) passed either as the `key` query-string parameter or the `X-WorkWave-Key` HTTP header.'
  termsOfService: https://www.workwave.com/terms-of-service/
  contact:
    name: WorkWave Support
    url: https://www.workwave.com/contact-us/
  version: '1.0'
servers:
- url: https://wwrm.workwave.com/api/v1
  description: WorkWave Route Manager production API
security:
- ApiKeyHeader: []
- ApiKeyQuery: []
tags:
- name: Territories
  description: List and edit territories and their planning range.
paths:
  /territories:
    get:
      operationId: listTerritories
      tags:
      - Territories
      summary: List all territories accessible to the API key.
      responses:
        '200':
          description: A list of territories.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Territory'
  /territories/{territoryId}:
    parameters:
    - $ref: '#/components/parameters/territoryId'
    put:
      operationId: editTerritory
      tags:
      - Territories
      summary: Edit a territory's preferences.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Territory'
      responses:
        '200':
          $ref: '#/components/responses/AsyncAccepted'
  /territories/{territoryId}/planningrange:
    parameters:
    - $ref: '#/components/parameters/territoryId'
    put:
      operationId: editPlanningRange
      tags:
      - Territories
      summary: Modify the planning range of a territory.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanningRange'
      responses:
        '200':
          $ref: '#/components/responses/AsyncAccepted'
components:
  schemas:
    AsyncResponse:
      type: object
      description: Acknowledgement of an accepted asynchronous write request.
      properties:
        status:
          type: string
          example: OK
        requestId:
          type: string
          description: Identifier used to correlate the eventual callback notification.
    Territory:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        timeZone:
          type: string
    PlanningRange:
      type: object
      properties:
        from:
          type: string
          description: Start date of the planning range (YYYYMMDD).
        to:
          type: string
          description: End date of the planning range (YYYYMMDD).
  parameters:
    territoryId:
      name: territoryId
      in: path
      required: true
      description: The territory identifier used by most calls.
      schema:
        type: string
  responses:
    AsyncAccepted:
      description: The asynchronous write request was accepted and queued. The response contains a requestId; the final outcome is delivered to the configured callback URL.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AsyncResponse'
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: X-WorkWave-Key
      description: API key (UUID) supplied via the X-WorkWave-Key HTTP header.
    ApiKeyQuery:
      type: apiKey
      in: query
      name: key
      description: API key (UUID) supplied via the `key` query-string parameter. Takes precedence over the header if both are present.
