openapi: 3.2.0
info:
  title: WorkWave Route Manager Validation API
  description: The WorkWave Route Manager (WWRM) REST API connects order-management systems to RouteManager's route planning and optimization engine.
  termsOfService: https://www.workwave.com/terms-of-service/
  contact:
    name: WorkWave Support
    url: https://www.workwave.com/contact-us/
  version: '1.0'
servers:
- url: https://wwrm.workwave.com/api/v1
  description: WorkWave Route Manager production API
security:
- ApiKeyHeader: []
- ApiKeyQuery: []
tags:
- name: Validation
  description: Validate contact emails and phone numbers.
paths:
  /territories/{territoryId}/validation/contacts:
    parameters:
    - $ref: '#/components/parameters/territoryId'
    post:
      operationId: validateContacts
      tags:
      - Validation
      summary: Validate emails and phone numbers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactValidationRequest'
      responses:
        '200':
          description: Validation results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactValidationResult'
components:
  schemas:
    ContactValidationResult:
      type: object
      properties:
        emails:
          type: array
          items:
            type: object
            properties:
              value:
                type: string
              valid:
                type: boolean
        phoneNumbers:
          type: array
          items:
            type: object
            properties:
              value:
                type: string
              valid:
                type: boolean
    ContactValidationRequest:
      type: object
      properties:
        emails:
          type: array
          items:
            type: string
        phoneNumbers:
          type: array
          items:
            type: string
  parameters:
    territoryId:
      name: territoryId
      in: path
      required: true
      description: The territory identifier used by most calls.
      schema:
        type: string
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: X-WorkWave-Key
      description: API key (UUID) supplied via the X-WorkWave-Key HTTP header.
    ApiKeyQuery:
      type: apiKey
      in: query
      name: key
      description: API key (UUID) supplied via the `key` query-string parameter. Takes precedence over the header if both are present.
