openapi: 3.2.0
info:
  title: WorkWave Route Manager Regions API
  description: The WorkWave Route Manager (WWRM) REST API connects order-management systems to RouteManager's route planning and optimization engine.
  termsOfService: https://www.workwave.com/terms-of-service/
  contact:
    name: WorkWave Support
    url: https://www.workwave.com/contact-us/
  version: '1.0'
servers:
- url: https://wwrm.workwave.com/api/v1
  description: WorkWave Route Manager production API
security:
- ApiKeyHeader: []
- ApiKeyQuery: []
tags:
- name: Regions
  description: Manage regions within a territory.
paths:
  /territories/{territoryId}/regions:
    parameters:
    - $ref: '#/components/parameters/territoryId'
    get:
      operationId: listRegions
      tags:
      - Regions
      summary: List regions in a territory
      responses:
        '200':
          description: A list of regions.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Region'
    post:
      operationId: addRegions
      tags:
      - Regions
      summary: Add one or more regions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Region'
      responses:
        '200':
          $ref: '#/components/responses/AsyncAccepted'
    put:
      operationId: replaceRegions
      tags:
      - Regions
      summary: Replace one or more regions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Region'
      responses:
        '200':
          $ref: '#/components/responses/AsyncAccepted'
    delete:
      operationId: deleteRegions
      tags:
      - Regions
      summary: Delete one or more regions
      responses:
        '200':
          $ref: '#/components/responses/AsyncAccepted'
components:
  schemas:
    AsyncResponse:
      type: object
      description: Acknowledgement of an accepted asynchronous write request.
      properties:
        status:
          type: string
          example: OK
        requestId:
          type: string
          description: Identifier used to correlate the eventual callback notification.
    Region:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        color:
          type: string
  parameters:
    territoryId:
      name: territoryId
      in: path
      required: true
      description: The territory identifier used by most calls.
      schema:
        type: string
  responses:
    AsyncAccepted:
      description: The asynchronous write request was accepted and queued. The response contains a requestId; the final outcome is delivered to the configured callback URL.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AsyncResponse'
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: X-WorkWave-Key
      description: API key (UUID) supplied via the X-WorkWave-Key HTTP header.
    ApiKeyQuery:
      type: apiKey
      in: query
      name: key
      description: API key (UUID) supplied via the `key` query-string parameter. Takes precedence over the header if both are present.
